<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact page</title>
  </head>
  <style>
    body{
        background-color: rgb(92, 0, 38);
        color: aliceblue;
    }
    a {
        color: aliceblue;
        text-decoration: none;
      }
  </style>
  <body>
    <h1>gohil satyjitsinh</h1>
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="/home">home</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
  </body>
</html>
